.container {
    width: 90%;
    height: 100%;
    min-height: 300px;
    margin: 20% auto;
    border: 5px solid #47230b;
    padding: 10px;
    text-align: justify;
    background: color(var(--eggshell) alpha(25%));
    transition: all .3s easy-out;
    @media (--viewport-large) {
        margin: 11% auto;
        width: 75%;
    }
    @media (--viewport-extralarge) {
        margin: 8% auto;
        width: 60%;
    }
    .input {
        width: 80%;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
    & #wikiSearch {
        height: 35px;
        width: 80%;
        border: none;
        outline: none;
        text-indent: 5px;
        background: var(--eggshell);
    }
    & .searchTitle {
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Roboto';
    }
    & #displayResults {
        padding: 0 90px;
    }
    & #wikiSearch:focus {
        background: color(var(--eggshell) shade(15%));
    }
    & #searchBtn {
        height: 35px;
        width: 20%;
        margin-left: -4px;
        border: none;
        outline: none;
    }
    & #searchBtn:hover {
        background: color(var(--eggshell) shade(15%));
    }
    & a {
        text-decoration: none;
        color: var(--darkblue);
    }
    & .title {
        font-size: 24px;
        word-spacing: 0.1em;
        text-align: center;
        padding-top: 30px;
        font-family: 'Roboto';
    }
    & hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    & .searchIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-right: 5%;
        & img {
            cursor: pointer;
            width: 150px;
            height: 150px;
            transition: transform .2s ease-in;            
        }
        & img:hover {
            transform: scale(1.1);
        }
    }
    & .randomIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-left: 5%;
        
        & img {
            cursor: pointer;
            width: 150px;
            height: 150px;
            transition: transform .2s ease-in;
        }
        & img:hover {
            transform: scale(1.1);
        }
    }
}
